html{
	background: #fff;
}
input{
	display: block;
	border:0px;
	border-bottom:1px solid #000;
}
label{
	display: block;
	font-size: 12px;
	color:green;
}
.dropdown{
	max-height:80px;
	background:yellow;
	overflow-y:hidden;
	line-height:16px;
}